# GoLand specific
.idea/

# Compiled binary executables
*.exe
*.out
*.app

# Dependency directories
vendor/
*/vendor/

# Output directories
/dist/
/dist-go/

# Test binary, build with 'go test -c'
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
.glide/

# Config file
.env
etc/
config.yaml